<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/guestBook.js"></script>
  </head>
  <body>
    <h1>Login succesful!</h1>
    <form class="LoginForm" style="border-bottom: none" method="GET" action="/logout">
      <div class="inputFieldDiv">
        <label for="name">Name:</label>
        <p id="name" for="name">###Name###</p>
        <button>Logout</button>
      </div>
    </form>
      <div class="inputFieldDiv">
        <label for="comment">Comment:</label>
        <textarea class="inputField" name="comment" id="comment" cols="30" rows="5"></textarea>
      </div>
      <button id="submit" class="button">Submit</button>
    <div>
      <h1 class="commentsHeading">Comments</h1>
      <button class="reloadButton" id="reloadComments">&#x21bb</button>
    </div>
    </div>
  </body>
</html>
