.headings {
    font-family: serif;
    font-size: 40px;
    color:orange;
    display: inline-block;
}

.homePageLink {
    font-size: 40px;
    display: inline-block;
}

img {
    display: block;
}

a {
    display: block
}

.headingDiv {
    text-align: center;
    padding: 15px;
    border-bottom : 2px solid black;
}

.inputs {
    display: block;
}

.imageAndDetails {
    display: flex;
    margin: 5px;
}

.imageDetails {
    margin: auto 5px;
}

span.bold{
    font-weight: bold;
}