.headings {
    font-family: serif;
    font-size: 40px;
    color:orange;
    display: inline-block;
}

.homePageLink {
    font-size: 40px;
    display: inline-block;
}

img {
    display: block;
}

a {
    display: block
}

.headingDiv {
    text-align: center;
}

.inputs {
    display: block;
}